li{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    height: 47vh;
    width: 350px;
    background-color: rgb(211, 231, 217);
    padding: 10px;
    & img{
        height: 50%;
        width: 70%;
    }
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.name{
    text-transform: capitalize;
    font-weight: 600;
    margin: 10px;
}

.type{
    width: fit-content;
    background-color: rgb(74, 166, 74);
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
    margin: 0px;

    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.abilities{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    width: 100%;
    margin: 0px;
    
}
